// colors
$accentColor = lighten(#000, 50%) // Nav

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8